<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout | GET-SKY-BUY</title>

</head>
<body>
    <center><h1>GSB - LOGOUT CONFIRMATION</h1></center>

    <script src="/files/js/Logout.js"></script>
</body>
</html>